VITE_SUPABASE_URL=https://qkteqnjnqpvxaxgrxxgz.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrdGVxbmpucXB2eGF4Z3J4eGd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5MDYzNzksImV4cCI6MjA2OTQ4MjM3OX0.zMVW3r_Cc2z36126kMY1scXAX2Y9nW-BUXmH6OUV01s